#post_configuration.tab-content.well
  .horizontal-form

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Blog::Post.human_attribute_name :slug
        %small= Spina::Blog::Post.human_attribute_name :slug_description
      .horizontal-form-content
        = f.text_field :slug, placeholder: Spina::Blog::Post.human_attribute_name(:slug_placeholder)
        - if @post.slug
          %small
            Current permalink:
            \ /#{@post.categories.first.term.slug}/#{@post.slug}

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Blog::Post.human_attribute_name :published_at
      .horizontal-form-content
        = f.datetime_field :published_at

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Blog::Post.human_attribute_name :categories
      .horizontal-form-content
        .select-dropdown
          = f.select :category_ids, Spina::Blog::TermTaxonomy.categories.all.collect{|u| [raw(u.term.name), u.id]},
                {include_blank: true, prompt: true}, {multiple: true, size: 15}

    .horizontal-form-group
      .horizontal-form-label
        = Spina::Blog::Post.human_attribute_name :spina_user
      .horizontal-form-content
        .select-dropdown
          = f.select :user_id, Spina::User.all.collect{|u| [u.name, u.id]},
            include_blank: true, prompt: true
